#column {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
}
img{
    text-align: center;
    width: 50%;
    display: flex; justify-content: space-between;
    margin: auto;
    padding: auto;
}
.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	background-color: #a0c5cf;
	width: 100%;
	height: 70px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.logo {
	width: 55px;
	height: 55px;
	background-image: url('https://png.pngtree.com/png-vector/20220613/ourmid/pngtree-minimalist-design-of-a-whole-pear-icon-with-black-and-white-pattern-vector-png-image_31521668.png');
	background-size: cover;
	margin-right: 30px;
}

.header-link {
	text-decoration: none;
	color: #161616;
	margin-right: 10px;
	transition: 0.2s;
}

.header-link:hover {
	color: #16161696;
	transition: 0.2s;
}

.footer {
	background-color: #333333;
	width: 100%;
	height: 40px;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.footer-link {
	text-decoration: none;
	font-size: 11px;
	color: white;
	margin-right: 10px;
}

.content-wrapper {
	height: 100%;
	width: 100%;
	padding: 10px 10%;
	box-sizing: border-box;
	background-color: white;
}

.content {
	height: 100%;
	width: 100%;
	background-color: #e6eceb;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}

.main-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.self-info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}